body{
	background:#e0e5ff;
}
.mainWrapper{
	width: 80vw;
	height: 90vh;
	display:flex;
	flex-direction: column;
	padding-top:5vh;
	margin-left:13vw;
	border-radius: 30px;
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow:  20px 20px 60px #d9d9d9, 
			 -20px -20px 60px #ffffff;
}
.nest_main{
    display: flex;
}
.mainWrapper .mainT{
	font-family:"Noto Sans KR";
	font-weight: 900;
	font-size:6vw;
	margin-left: 15vw;
	background: linear-gradient(145deg, #cad6ff, #aab4e6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mainWrapper .mainW{
	font-family:"Noto Sans KR";
	font-weight: 500;
	font-size:2vw;
    margin-left: 2vw;
    margin-top:9vh;
    color:gray;
    font-style: italic;
}
.Set_back{
    padding-left: 5vw;
}
.Set_name{
	padding-left: 15vw;
	padding-top: 5vh;
}
.Set_title{
	padding-left: 15vw;
	padding-top: 2vh;
}
.Set_contents{
	padding-left: 15vw;
    text-align: left;
    align-self: flex-start;
    font-size:5vh;
    display: inline-block;
    white-space: pre-line;
    line-height: 7vh;
    width: 60vw;
    overflow: hidden;
    height: 40vh;
    text-overflow: ellipsis;
    word-break: break-all;
}
.Set_btn{
    padding-left: 35vw;
    padding-top: 1vh;
}
.back{
    width:5vw;
    height: 4vh;
    border: none;
	color: #aab4e6;
    text-align: center;
    font-size: 2vh;
    font-weight: 900;
    margin: 4px;
    cursor: pointer;
    animation: 0.5s;
    background-color: transparent;
    border-radius: 11px;
}
.back:hover{
    background: linear-gradient(145deg, #cad6ff, #aab4e6);
    color:white;
}
.back:focus{
    outline: none;
}
.mod{
    width:5vw;
    height: 4vh;
    border: none;
	color:white;
	text-align: center;
    font-size: 2vh;
    font-weight: 900;
    margin: 4px;
    cursor: pointer;
    animation: 0.5s;
    border-radius: 11px;
	background: linear-gradient(145deg, #cacee6, #f0f5ff);
	box-shadow:  5px 5px 10px #babed4, 
             -5px -5px 10px #ffffff;
}
.mod:hover{
    background: linear-gradient(145deg, #f0f5ff, #cacee6);
	box-shadow:  5px 5px 10px #a4a7ba, 
             -5px -5px 10px #ffffff;
}
.mod:active{
    background: #e0e5ff;
	box-shadow: inset 5px 5px 10px #d3d7f0, 
            inset -5px -5px 10px #edf3ff;
}
.mod:focus{
    outline: none;
}
.del{
    width:5vw;
    height: 4vh;
    border: none;
	color:white;
	text-align: center;
    font-size: 2vh;
    font-weight: 900;
    margin: 4px;
    cursor: pointer;
    animation: 0.5s;
    border-radius: 11px;
	background: linear-gradient(145deg, #e67c7c, #ff9494);
    box-shadow:  5px 5px 10px #663737, 
             -5px -5px 10px #ffdddd;
}
.del:hover{
    background: linear-gradient(145deg, #ff9494, #e67c7c);
    box-shadow:  5px 5px 10px #663737, 
             -5px -5px 10px #ffdddd;
}
.del:active{
    background: #ff8a8a;
    box-shadow: inset 5px 5px 10px #663737, 
            inset -5px -5px 10px #ffdddd;
}
.del:focus{
    outline: none;
}