    @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
    @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
    @keyframes M_Fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
        font-weight: 300;
    }
    body{
        min-height: 100vh;
        background-color:white;
    }
    .nav img{
        background-repeat: no-repeat;
        background-position: top;
    }
    .nav{
        background-image: url('src/web_logo_200px.png');
        background-repeat: no-repeat;
        background-position: top;
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: white;
        transition: 0.5s;
        overflow: hidden;
        font-size: 24px;
        box-shadow: 0 0 25px 5px black;
        display: flex;
        align-items: center;
    }
    .nav:hover{
        width: 300px;
        background-image: url('src/web_logo_300px.png');
    }
    .nav ul{
        top:0;
        left: 0;
        width: 100%;
    }
    .nav ul:hover{
    }
    .nav ul li{
        position: relative;
        width: 100%;
        list-style: none;
    }
    .nav ul li:hover{
        background: lightgreen;
    }
    .nav ul li a{
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color:black;
        line-height: 70px;
}
.nav ul li a .title{
    margin: 10 10 0 0;
    position: relative;
    display: block;
    padding: 0 20px;
    text-align:center;
}
.indexMainContent>h1{
    font-family: 'Noto Sans KR';
    font-weight:900;
    font-size:18vw;
    padding-left: 300px;
    background-color: lightgreen;
    line-height: 30vw;
    color:white;
    background: #90EE90;
    box-shadow:  16px 16px 32px #7aca7a, 
             -16px -16px 32px #a6ffa6;
}
.indexMainContent>h2{
    font-family: 'Sansita Swashed', cursive;
    font-size: 5vw;
    padding-top:5%;
    padding-left:40%;
    color:lightgreen;
}